{{ ansible_managed | comment }}

[http]
  [http.services]
    [[http.services.paste.loadBalancer.servers]]
      url = "http://{{ services.containers.paste.name }}:8080/"
  [http.middlewares]
    [http.middlewares.paste_auth]
      [http.middlewares.paste_auth.basicAuth]
        users = "{{ secrets.paste.auth_token }}" 
  [http.routers]
    [http.routers.paste_https_POST]
      rule = "Host(`paste.{{ setup.tld }}`) && Method(`POST`)"
      entryPoints = "https"
      service = "paste"
      middlewares = [
        "security_headers",
        "paste_auth"
      ]
      [http.routers.paste_https_POST.tls]
        certResolver = "sadm_tlschallenge"

    [http.routers.paste_https]
      rule = "Host(`paste.{{ setup.tld }}`)"
      entryPoints = "https"
      service = "paste"
      middlewares = [
        "security_headers"
      ]
      [http.routers.paste_https.tls]
        certResolver = "sadm_tlschallenge"
