{{ ansible_managed | comment }}

[Interface]
PrivateKey = {{ item.private_key }}
Address = {{ item.address }}
DNS = 1.1.1.1,1.0.0.1

[Peer]
PublicKey = {{ secrets.wireguard.server.public_key }}
PresharedKey = {{ item.preshared_key }}
Endpoint = vpn.{{ setup.tld }}:51820
AllowedIPs = 0.0.0.0/0
