[http]
  [http.middlewares]
    [http.middlewares.cors_headers]
      [http.middlewares.cors_headers.headers]
        accessControlAllowMethods= ["GET", "OPTIONS"]
        accessControlAllowOrigin = "*"
        accessControlMaxAge = 100
        addVaryHeader = true
