[http]
  [http.services]
    [[http.services.jupyterhub.loadBalancer.servers]]
      url = "http://{{ services.containers.jupyterhub.name }}:8000/"
  [http.routers]
    [http.routers.jupyterhub_https]
      rule = "Host(`jupyterhub.{{ setup.tld }}`)"
      entryPoints = "https"
      service = "jupyterhub"
      middlewares = [
        "security_headers"
      ]
      [http.routers.jupyterhub_https.tls]
        certResolver = "sadm_tlschallenge"
